body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
   text-align: center;
}

/* -------------NAVBAR------------- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 0vh;
  background: rgb(166, 204, 255);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navImage {
  height: 4vh;
  padding: 6px;
}

.navButtons:hover,
.navImage:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.homeImage {
  height: 16vh;
  margin: 0px;
}

/* -------------NAVBAR------------- */
